<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Random Generic Country</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:darkmagenta;">
    <p>Your income group selection DOES NOT EXIST: <strong th:text="${income}"/></p>
    <p>Your random country is: <strong th:text="${name}"/></p>
    <p>It uses the <strong th:text="${currency}"/> as its currency</p>
    <p>Geographically it lies in <strong th:text="${region}"/></p>
</body>
</html>
