<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Reactive Random Movies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:tomato;">
    <h1>Reactive table of <strong th:text="${count}"/> movies</h1>
    <table>
        <thead>
        <tr>
            <th> Title </th>
            <th> Release Date </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${movies.empty}">
            <td colspan="2"> No Movies Available </td>
        </tr>
        <tr th:each="movie : ${movies}">
            <td><span th:text="${movie.name}"></span></td>
            <td><span th:text="${movie.release}"></span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
